<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aknayak.offchat">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7481473691227014~3893856552" />

        <activity android:name=".aboutPage" />
        <activity android:name=".myProfile" />
        <activity android:name=".profileCard" />
        <activity android:name=".AllConcacts" />
        <activity android:name=".messageViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
            </intent-filter>
        </activity>
        <activity android:name=".phone_verification" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.aknayak.offchat.services.mainService"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.aknayak.offchat.services.mainService" />
            </intent-filter>
        </service>

        <receiver android:name=".autostart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.UMS_CONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>